html {

}

title {

}

body {
    background-image : url("images/fromsoftware.webp");
    background-repeat:no-repeat ;
    background-size: 100%;
    text-align: justify;

}

.introduction{
        
}
header{
    color: rgb(255, 166, 0);
}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 350 %;
    color: white;
    font-weight: bold;
    border-style: solid;
    display: inline;

}
h2{

}

nav{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
   
    
   
    
}

.darksouls{
    border-style: solid; 
    display: inline;
    padding: 3%;
    margin: 5%;
    margin-top: 100px
}
.armoredcore{
    border-style: solid;
    display: inline;
    padding: 3%;
    margin: 5%;
    margin-top: 100px
    background-image : url("images/Armored-Core-6-Fires-of-Rubicon-Septiembre-Octubre.jpg");
}

.soulslike{
    border-style: solid;
    display: inline;
    padding: 3%;
    margin: 5%;
    margin-top: 100px

}

p{
    margin-bottom: 200px;
}